PIXELATOR_WORKSPACE=./projects/moonfall
PIXELATOR_BRIDGE_PORT=4817
COMFYUI_URL=http://127.0.0.1:8188
ANIMA_WORKFLOW=./workflows/anima-turbo/workflow.api.json
ANIMA_BINDINGS=./workflows/anima-turbo/bindings.json
